<div class="wrapper" ng-controller="almacenCtrl">
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-ms-12">

          <button type="button" class="btn btn-success" ng-click="btnAgregar()">Agregar nueva serie</button><br>
          <div class="col-md-offset-3 col-md-6" ng-show="show_agregar_serie">
            <div class="panel panel-primary">
              <div class=panel-heading>
                <h3 class=panel-title><span class="glyphicon glyphicon-plus-sign"></span> Agregar nueva serie</h3>
              </div>
              <div class=panel-body>
              <div class="form-login">
                <input type="text" name="name" value="" ng-model="maquina.serie" placeholder="Serie" ng-blur="validarSerie(maquina)"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.modelo" placeholder="Modelo"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.marca" placeholder="Marca"><br><br>
                <div ng-show="show_validar_serie">
                <input type="text" name="name" value="" ng-model="maquina.cont_n" placeholder="Contador Negro"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.cont_c" placeholder="Contador Color"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.agregado" placeholder="Agregados"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.cliente" placeholder="Cliente"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.tecnico" placeholder="Tecnico"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.calle" placeholder="Calle"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.colonia" placeholder="Colonia"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.municipio" placeholder="Municipio"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.estado" placeholder="Estado"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.pais" placeholder="Pais"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.cp" placeholder="Codigo Postal"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.departamento" placeholder="Departamento"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.contacto" placeholder="Contacto"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.telefono" placeholder="Telefono"><br><br>
                <input type="text" name="name" value="" ng-model="maquina.subcliente" placeholder="Subcliente"><br><br>

              <div class="wrapper">
              <span class="group-btn">
                  <a href="#" class="btn btn-primary btn-md" ng-click="agregarSerie(maquina)"><span class="glyphicon glyphicon-plus-sign"></span> Enviar <i class="fa fa-sign-in"></i></a>
              </span><br><br>
              </div>
              </div>
              </div>

          </div>
        </div>
      </div>
        </div>
    </div>
  </div>
</div>
