
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-ms-12">
          <br>
          <br>
          <br>
          <br>
          <div class="container">
              <div class="row">
                  <div class="col-md-offset-3 col-md-6">
                    <div class="panel panel-primary">
                      <div class=panel-heading>
                        <h3 class=panel-title><span class="glyphicon glyphicon-globe"></span> Makicop Acceso</h3>
                      </div>
                      <div class=panel-body>
                      <div class="form-login">
                      <h4> Bienvenido</h4>
                      <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user"></span></span>
                        <!--<input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" ng-model="login.usr">-->
                        <select class="form-control" ng-model="login.usr">
                          <option ng-repeat="users in user" value="{[users.nom]}"  >{[users.nom]}</option>
                        </select>
                      </div>
                      </br>
                      <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-eye-open"></span></span>
                        <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1" ng-model="login.pass">
                      </div>
                      </br>
                      <div class="wrapper">
                      <span class="group-btn">
                          <a href="#" class="btn btn-primary btn-md" ng-click="iniciar()"><span class="glyphicon glyphicon-log-in"></span> Login <i class="fa fa-sign-in"></i></a>
                      </span><br><br>
                      <div class="alert alert-danger" ng-show="error_login">
                        <strong>Alerta!</strong> Usuario Invalido!
                      </div>
                      </div>
                      </div>

                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
    </div>
</div>
