<div class="wrapper" ng-controller="mainCtrl">
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-ms-12">

          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Buscar" aria-describedby="sizing-addon1" ng-model="filtro">
          </div><br><br>
          <!--<input type="button" name="name" value="Buscar" class="button">
          <input type="button" name="name" value="Buscar por otro" class="button" ng-click="btn_otro()">
          <div class="" ng-show="show_otro">
            <input type="text" name="name" />
          </div>-->
          <div ng-controller="maquinaCtrl">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <th>ID</th>
                  <th>Serie</th>
                  <th>Modelo</th>
                  <th>Marca</th>
                  <th>Reporte</th>
                  <th>Bitacora</th>
                </thead>
                <tbody>
                  <tr ng-repeat="item in maquinas | filter:filtro">
                    <td>{[item.ID]}</td>
                    <td>{[item.serie]}</td>
                    <td>{[item.modelo]}</td>
                    <td>{[item.marca]}</td>
                    <td><button type="button" class="btn btn-success" ng-click="asignar(item)" data-toggle="modal" data-target="#myModal">REPORTE</button></td>
                    <td><button type="button" class="btn btn-success" ng-click="asignar(item)" data-toggle="modal" data-target="#myModal">BITACORA</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            {[marca]}
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Generar Reporte</h4>
                    </div>
                    <div class="modal-body">
                      <span><strong>Maquina con Serie:  </strong> {[marca]}</span><br><br>
                      <span><strong>Modelo:             </strong> {[Modelo]}</span><br><br>
                      <span><strong>Marca:              </strong> {[Marca]}</span><br><br>
                      <span><strong>Contador Negro:     </strong> {[Contador_n]}</span><br><br>
                      <span><strong>Contador Color:     </strong> {[Contador_c]}</span><br><br>
                      <span><strong>Agregados:          </strong> {[Agregados]}</span><br><br>
                      <span><strong>Cliente:            </strong> {[Cliente]}</span><br><br>
                      <span><strong>Tecnico:            </strong> {[Tecnico]}</span><br><br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div>

                </div>
              </div>



          </div>

        </div>
    </div>
</div>
</div>
